<div class="content" role="main">
  <h2>Products</h2>
  <p>View All the products here</p>
  <input [(ngModel)]="searchText" placeholder="search products">
  <div class="card-main-container">
    <div class="card-container" *ngFor="let product of products | filter: searchText">
      <a class="card" (click)="viewProductDescription(product)">
        <div class="prod-img">
          <img src="{{product.image}}" alt="{{product.title}}" width="100%" height="100%">
        </div>
        <span>{{product.title}}</span>
      </a>
    </div>
  </div>
</div>
